.window{
    display: flex;
    /* background-color: aqua; */
    justify-content: center;
    align-items: center;
    margin: 5%;
    
}

.menu{
    display: flex;
    flex-direction: column;
    width: 20%;
    background-color: rgb(56, 136, 242);
    height: 80vh;
    border-radius: 20px;
    justify-content: space-evenly;
    
    align-items: center;
}
.menu .user-content{
    display: flex;
    flex-direction: column;
    width: 80%;
    /* background-color: aqua; */
}